# dependencies
node_modules

# Next build artifacts
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*

# vcs
.git
.gitignore

# editor
.vscode
.idea

